
  <h2>People</h2>
  
  <div class="table-responsive">          
   <table class="table">
    <thead>
      <tr>
        <th>Resources Available(FTE)</th>
        <th>Enterprise ID</th>
        <th>Nov-18</th>
        <th>Dec-18</th>
        <th>Jan-19</th>
        <th>Feb-19</th>
        <th>Mar-19</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Cheryl Rehana Felcy</td>
        <td>c.rehana.felcy.j</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Gopal Selvaraj</td>
        <td>g.d.selvaraj</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Reno Hirudayasamy Chandrasekaran</td>
        <td>reno.chandrasekaran</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Sandhya Krishnan</td>
        <td>sandhya.a.krishnan</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      <tr>
        <td>Charuleelaa Vanilavarasu</td>
        <td>c.vanilavarasu</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Jaivasanth</td>
        <td>j.b.srinivasan</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Lakshminarayanan ps</td>
        <td>lakshminarayanan.ps</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Senthilkumar Ramalingam</td>
        <td>s.h.ramalingam</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Dharshni Murugesan</td>
        <td>dharshni.murugesan</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Hareesh Nagarajan</td>
        <td>hareesh.nagarajan</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>

      <tr>
        <td>Prathiba Swamykannu</td>
        <td>prathiba.swamykannu</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
      </tr>
      
    </tbody>
  </table>
  <button style ="float:right" type="button" class="btn btn-primary">Delete</button>
  <button style ="float:right ; margin-right: 25px;" type="button" class="btn btn-primary">Add</button>
  
  </div>

