<span class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#summaryView">++</span>
<h3>Summary View</h3>
 
 <div class="table-responsive collapse in" id="summaryView">    
<button style="float: right;" type="button" class="btn btn-primary">Edit</button>         
 <table class="table">
   <thead>
    <tr>
       <th colspan="2">Capacity Plan For : Java Team</th>
       <th>ARC Rate</th>
       <th>$ 40</th>
       <th>$ 40</th>
       <th>$ 40</th>
       <th>$ 40</th>
       <th>$ 40</th>
     </tr>
     <tr>
       <th colspan="2">Java</th>
       <th>Productive Rate</th>
       <th>150</th>
       <th>150</th>
       <th>150</th>
       <th>150</th>
       <th>150</th>
     </tr>
     <tr>
       <th>No</th>
       <th>Enterprise Id</th>
       <th>FTE</th>
       <th>Nov-18</th>
       <th>Dec-18</th>
       <th>Jan-19</th>
       <th>Feb-19</th>
       <th>Mar-19</th>
     </tr>
   </thead>
   <tbody>
     <tr>
       <td>1</td>
       <td>c.rehana.felcy.j</td>
       <td>1.00</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>60</td>
     </tr>
  <tr>
       <td>2</td>
       <td>g.d.selvaraj</td>
       <td>1.00</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>60</td>
     </tr>
   <tr>
      <td>3</td>
       <td>ramkumar.durairaju</td>
       <td>1.00</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>60</td>
     </tr>
<tr>
       <td>4</td>
       <td>sandhya.a.krishnan</td>
       <td>1.00</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>160</td>
       <td>60</td>
     </tr>
   </tbody>
 </table>
 </div>
<h3>

<span data-toggle="collapse" class="glyphicon glyphicon-plus" data-target="#demo">++</span>
Details View</h3>
 <div class="table-responsive collapse in" id="demo">     
<button style="float: right;" type="button" class="btn btn-primary">Edit</button>     
 <table class="table">
   <thead>
     <tr>
       <th>Type Of Capacity</th>
       <th>Name</th>
       <th>Project Number</th>
       <th>Domain</th>
       <th>Project</th>
       <th>App</th>
       <th>Nov-18 Hours</th>
       <th>Dec-18 Hours</th>
       <th>Jan-19 Hours</th>
       <th>Feb-19 Hours</th>
       <th>Mar-19 Hours</th>
     </tr>
   </thead>
   <tbody>
     <tr>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
         <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
         <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
        <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
  <td class="col-xs-2"> 
   <input class="form-control" id="ex1" type="text">
</td>
     </tr>
     <tr>
       <td>Locked</td>
       <td>Dharshini Murugan</td>
       <td>PR17017870</td>
       <td>Cards</td>
       <td>Discover SGD for Full Service / Coop clients</td>
       <td>SS CMA</td>
       <td>10</td>
       <td>80</td>
       <td>70</td>
      <td>30</td>
     </tr>
  <tr>
       <td>Locked</td>
       <td>a.amirthadivya</td>
       <td>PR17017870</td>
       <td>Cards</td>
       <td>Discover SGD for Full Service / Coop clients</td>
       <td>SS CMA</td>
       <td></td>
       <td>30</td>
       <td>40</td>
      <td>50</td>
 <td>30</td>
     </tr>
   <tr>
       <td>Locked</td>
       <td>lakshminarayanan.ps</td>
       <td>PR17017870</td>
       <td>Cards</td>
       <td>Discover SGD for Full Service / Coop clients</td>
       <td>SS CMA</td>
       <td>10</td>
       <td>30</td>
       <td>40</td>
      <td>50</td>
     </tr>
<tr>
       <td>Locked</td>
       <td>sabareesh.mr</td>
       <td>PR17017870</td>
       <td>Cards</td>
       <td>Discover SGD for Full Service / Coop clients</td>
       <td>SS CMA</td>
       <td></td>
       <td>30</td>
       <td>40</td>
      <td>50</td>
     </tr>
   </tbody>
 </table>
 </div>
