<div>
  <h2>Summary</h2>
  <div class="table-responsive" style="width: 676px;
    margin-left: 237px;
    margin-top: 62px;">          
  <table class="table">
    <thead>
      <tr>
        <th></th>
         <th>Nov-18</th>
        <th>Dec-18</th>
        <th>Jan-19</th>
        <th>Feb-19</th>
        <th>Mar-19</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Total capacity(hrs)</td>
        <td>5700</td>
        <td>5925</td>
        <td>5475</td>
        <td>5400</td>
        <td>5250</td>
      </tr>
	<tr>
        <td>Planned Capacity(hrs)</td>
        <td>5139</td>
        <td>6535</td>
        <td>5665</td>
        <td>3705</td>
        <td>2600</td>
      </tr>
	<tr>
        <td>Available capacity(hrs)</td>
        <td>561</td>
        <td>610</td>
        <td>190</td>
        <td>1695</td>
        <td>2650</td>
      </tr>
	<tr>
        <td>Available capacity(hrs)</td>
        <td>5700</td>
        <td>5925</td>
        <td>5475</td>
        <td>5400</td>
        <td>5250</td>
      </tr>
	<tr>
        <td>Maintenance Allocation(hrs)</td>
        <td>1835</td>
        <td>1395</td>
        <td>1105</td>
        <td>1335</td>
        <td>1175</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>